.navbar {
  width: 100%;
  height: 75px;
  font-family: Arial, sans-serif;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 3px solid #ddd;
  box-shadow: 0 3px 6px rgba(0,0,0,0.8);
}

.nav-left {
    margin-left: 30px;
  font-size: 40px;
  font-weight: bold;
  color: #155bd4;
}

.signin-btn {
  padding: 10px 30px;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  margin-right: 50px;
}

.signin-btn:hover {
  background: #1f4fc1;
}
